<h1>Stocks#index</h1>


<%= form_tag stocks_path,:method => "POST" do %>
    <%= text_field_tag 'symbol', nil, placeholder: "Please enter stock symbol"%>
    <%= submit_tag "Lookup" %>
<% end %>

<% if @stock %>

    <p>Company Name: <%= @stock.company_name %></p>
    <p>Last Price: <%# @stock.last_price %></p>
<% end %>


<%= @stock.inspect %>