<h1><%= @stock.symbol %></h1>

<%= image_tag @stock_logo.url %>
<p>Company: <%= @stock.company_name %></p>
<p>Latest price: $<%= @stock.latest_price %></p>
<p>Description: <%= @company.description %></p>
