<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<ul>
    <% @orders.each do |order| %>
        <ol>
            Order id: <%= link_to order.id, order_path(order.id)%>
        </ol>
        <ol>
            Symbol: <%= order.stocks.first.symbol %>
        </ol>
        <ol>
            create time: <%= order.created_at %>
        </ol>
        <ol>
            Bid price: $<%= order.bid_price %>
        </ol>
        <ol>
            Shares: <%= order.shares %>
        </ol>
        <ol>
            Order amount: $<%= order.bid_price * order.shares%>
        </ol>
        
    <% end %>
</ul>

